// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
#include "windows.h"
/////////////////////////////////////////////////////////////////////////////
// 非特定语言 resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,2
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "E.tek"
            VALUE "FileDescription", "Taromati2 Installer"
            VALUE "FileVersion", "1.0.0.2"
            VALUE "InternalName", "ghost_installer"
            VALUE "LegalCopyright", "Copyright (C) 2022"
            VALUE "OriginalFilename", "ghost_installer.exe"
            VALUE "ProductName", "Taromati2"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_INSTALLATION_PATH_SELECTION DIALOGEX 0, 0, 308, 58
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "选择安装路径"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,169,39,50,14
    PUSHBUTTON      "取消",IDCANCEL,251,39,50,14
    PUSHBUTTON      "浏览",IDSELECT,265,18,36,12
    EDITTEXT        IDC_PATHEDIT,16,18,244,12,ES_AUTOHSCROLL
END

IDD_DOWNLOADING DIALOGEX 0, 0, 158, 52
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "所需文件下载中",IDC_STATIC,47,22,63,8
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_INSTALLATION_PATH_SELECTION, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 301
        TOPMARGIN, 4
        BOTTOMMARGIN, 53
    END

    IDD_DOWNLOADING, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 151
        TOPMARGIN, 7
        BOTTOMMARGIN, 45
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_INSTALLATION_PATH_SELECTION AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DOWNLOADING AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON                ICON                    "kikka.ico"

#endif    // 非特定语言 resources
/////////////////////////////////////////////////////////////////////////////

